.parisienne {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.sofia {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

.p1 {
  color: orange;
}

.p2 {
  color: red;
}
